.HotAccessoriesMenu{
    display: flex;
    justify-content: center;
 
}
.HotAccessoriesLink{
    text-decoration: none;
    color: rgb(118, 124, 129);
    margin: 1vmax;
    padding: 0.5vmax;
    font-family: 'Times New Roman', Times, serif;
}
.HotAccessoriesLink:hover{
    text-decoration: none;
color: orangered;
border-bottom: 1px solid orangered;
}